.constrict {
    $padding: 10px;
    @include x-rem(max-width, $width--site-max + $padding);
    @include x-rem(padding-left, $padding);
    @include x-rem(padding-right, $padding);
    margin: 0 auto;
    display: block;
}

.home {
    background: black;
}