$pad-h--event: 30px;
$pad-v--event: 15px;
$bp--floated-date: bp-size(700px);

.timeline {
    border-top: 1px solid #000;
    margin-bottom: em($su--block);
    padding: 0;
}

.timeline-event {
    position: relative;
    border-bottom: 2px solid $color--beige;
    padding-left: em(20px);

    @include respond($bp--floated-date) {
        padding-left: 20%;
    }
}

.timeline-event__wrap {
    border-left: 2px solid $color--beige;
    padding: em($pad-v--event) em($pad-h--event);
}

.timeline-event__title {
    position: relative;
    font-size: em($fs--gamma);
    left: - em($pad-h--event, $fs--gamma);
    padding-left: em($pad-h--event, $fs--gamma);

    &:after {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 25px;
        border: 3px solid $color--beige;
        position: absolute;
        top: 2px;
        left: -13px;
    }
}

.timeline-event__date {
    font-size: em(14px);
    margin-bottom: em(10px, 14px);
    word-wrap: break-word;
    border-bottom: 1px dashed #000;
    display: inline-block;

    @include respond($bp--floated-date) {
        position: absolute;
        top: em(20px, 14px);
        left: 0;
        width: 20%;
        padding: 0 em(5px, 14px);
        border: none;

        span {
            display: block;
        }
    }
}

.timeline-event__body {
    // overflow: auto;
}