/*
    Vars
    ====
*/


/*
    colors
    ------
*/
$color--beige: #c2af75;
$color--green: #65b03c;

// typography
$color--body-text: black;
$color--link: $color--green;
$color--link-hover: lighten($color--link, 30);


/*
    Fonts
    -----
*/

// families
$font--one: Monaco, Consolas, "Lucida Console", monospace;
$font--two: Georgia, Times, "Times New Roman", serif;

// sizes
$fs--base: 16px;
$fs--browser-default: 16px;
$fs--mega: 45px;
$fs--alpha: 32px;
$fs--beta: 26px;
$fs--gamma: 20px;
$fs--delta: 19px;
$fs--epsilon: 18px;
$fs--zeta: 17px;
$fs--small: 16px;


/*
    Z-indexes
    ---------
    Keep track of z-index by assigning your elements z-index to
    one of these defined levels.
*/
$z-level--1: 10;
$z-level--2: 20;
$z-level--3: 30;
$z-level--4: 40;
$z-level--5: 50;


/*
    Widths
    ------
*/
$width--site-min: 300px;
$width--site-max: 800px;


/*
    Spacing
    -----------
*/
$su--block: 40px;
$su--block--half: ($su--block / 2);